
<% if !(defined? max)
		max = 10
   end
%>


<% if(previewlist && previewlist.length > 0) %>
<div class="listitems">
	<% previewlist.slice(0,max).each do |item| %>
			<%=	render_partial renderer, item, :options => options %>
	<% end %>

	<span class="more"><%= link_to 'see all', params.merge ({:action => action}) %></span>
</div>
<% end %>
