
<div id="argbrowser">
</div>

<script type="text/javascript">
var thinklink_user_id = <%=@user['id']%>;
var thinklink_deletes = make_hash(<%=($store.user_deletes @user['id']).to_json%>);
var thinklink_bookmarks = make_hash(<%=($store.user_bookmarks @user['id']).to_json%>);
makeArgBrowser("argbrowser",<%=@object.to_json%>);
</script>
