
<script language="javascript">
	function doSearch(){
		var query = document.getElementById("minisearch_input").value;
		ajaxReplace('/points/searchajax/?query='+query,"minisearch");
	}
</script>

<div class="points">
	<h2> Search Points </h2>
	<input type="text" id="minisearch_input"/>
	<input type="button" value="Search" onclick="doSearch()"/>

	<div id="minisearch" class="points_container">
	</div>
</div>	
