


<% linkedto = options[:linkedto] %>
<% relation = options[:rel]%>

<% if !pointrels.nil? && !pointrels.empty? %>
	<span class="relationtitle"><%= options[:title] %></span>
	<span id="<%= relation %>_pointrels<%= linkedto.id %>">
	<% pointrels.each do |pl| %>
		<% if options[:newpage] %>
			<%=	render_partial 'points/pointref', pl, :options => {:trash=>true} %>
		<% else %>
			<%=	render_partial 'points/pointref', pl, :options =>{} %>
		<% end %>
		
	<% end %>
	</span>
	<br />
<% end %>