	<% snips = summary.snippets
		snipPreviewEnd = 5
		if (!defined? options) || !options
		 	options = {}
		end
	%>
	
	<%= render_partial 'points/pointplaces', summary %>
	<% if !snips.empty? %>
		<div class="summarytitle">snippets supporting this claim
			<% if snips.size > snipPreviewEnd %>
			 preview
			<% end %>
		</div>
		<%= render_partial 'snippets/snippets',snips.slice(0,snipPreviewEnd), :options=>{} %>
	<% end %>
	