
	<div class="topics">
	<h2>Recent Topics</h2>
		<div class="topic_list">
		<%= render_partial 'topics/topics', @user.recenttopics.slice(0,10) %>
		</div>
		<span class="more"><%= link_to 'see all', {:controller => 'topics', :action => 'mine'} %></span>

	</div>
	