<h1>Edit point text</h1>

<% form_for :point, :url=>"/points/update" do |f| -%>
<%=	f.error_messages %>
 <p>
	<%= f.hidden_field "id"  %>
    <%= f.text_field "txt"  %>

    <%= submit_tag "Update" %>
  </p>
<% end %>
