
<div class="points">
		<h2><%= @minititle %></h2>
		<%= render_partial 'points/points', @points, :options => {:noclass=>true,:divid=> 'pointslist'}, :renderer => 'points/pointref', :action => 'points' %>

</div>
