<% if @snippets.blank? %>
	<p>There are not any snippets for this point</p>
<% else %>
	<p>These are the snippets for the point</p>
	<ul id="snippets">
	<% @snippets.each do |c| %>
		<li><%= link_to c.txt, snippet_path(c) -%>
		<b><%= link_to 'Edit', snippet_path(c) %></b></li>
	<% end %>
	</ul>
<% end %>
<p><%= link_to "Add new Snippet", {:action => 'new' }%></p>
