* {
	font-family: arial,sans-serif;
}

body {
	font-size: 12px;
	margin-bottom: 40px;
}

img {
	border: none;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}


h1 a {
	color: black;
	text-decoration: none;
}

#labs {
	font-size: 16px;
	font-weight: bold;
	left: 75px;
	position: absolute;
	top: 44px;
}

.df-loaddisputes {
	color: gray;
}

.beta {
	vertical-align: top;
	font-size: 14px;
}


#frontlogo {
	font-size: 40px;
	margin-bottom: 0px;
	margin-left: 122px;
	margin-top: 32px;
}

#intellogo{
	position: absolute;
	left: 0px;
	top: 10px;
}

.tagline {
	margin-bottom: 15px;
}


.tagline {
	font-size: 20px;
	margin-top: -7px;
	margin-left: 217px;
	margin-bottom: 30px;
}

#search-input {
	width: 400px;
	padding: 4px;
	margin-left: 40px;
}

#search-submit {
	padding: 4px;
	font-weight: bold;
}

#search-results {
	margin: 30px 40px;
}

.search-result {
	list-style: none;
}

.search-result h3 {
	font-weight: normal;
	margin-bottom: 0px;
}

.search-result .abstract {
	max-width: 500px;
}

.search-result cite, .sourcedomain {
	color: green;
}

.dispute {
	color: red;
}

.disputed {
	position: relative;
}

.maybe-dispute {
	color: gray;
}

.disputed h4 {
	margin: 0px;
	margin-left: 4px;
	margin-top: 2px;
	font-size: 12px;
}

.disputed .matchcontext, .disputed .sourcecontext {
	margin-left: 8px;
	margin-bottom: 0px;
	max-width: 400px;
	background-color: #eee;
	padding: 2px 4px;
	border: 1px solid #ccc;
	font-size: 12px;
}

.votebox {
	margin-bottom: 2px;
	font-size: 11px;
}

.df-nodisputes{
	margin-left: 4px;
	color: gray;
}

.ui-icon{
	vertical-align: bottom;
	display: inline-block;
}

.linkbutton {
	text-decoration: none;
	color: gray;
	margin-left: 8px;
}

.ui-state-highlight{
	color: black;
}

.linkbutton:hover{
	color: black;
}

.sourcebox{
	max-width: 400px;	
	font-size: 12px;
}

.sourceurl{
	max-width: 400px;
	overflow: hidden;
}

.sourcedomain{
	margin-left: 8px;
}
.disclaimer {
	background-color: orange;
	max-width: 400px;
	margin: 40px;
	margin-top: 80px;
	font-size: 14px;
	padding: 0px 10px;
	border: 4px solid black;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

.score {
	font-size: 12px;
}
