<web-app>
	<servlet>
	<servlet-name>node</servlet-name>
	<servlet-class>com.intel.thinklink.NodeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>node</servlet-name>
	<url-pattern>/node/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
	<servlet-name>node</servlet-name>
	<url-pattern>/apianon/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
	<servlet-name>node</servlet-name>
	<url-pattern>/index.html</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
	<servlet-name>node</servlet-name>
	<url-pattern>/scripthack/*</url-pattern>
	</servlet-mapping>


</web-app>

