*/mt_files
*/.svn
*.csv
*.csv*
*tmp*
think/*
*.kilepr
*.backup
*.bak
*.log
intel_docs
*.xpi
temp
Edit.000
*_weird
*.jar
*.zip
*.tcp
*.pdf
*.aux
*.out
*.bbl
*.blg
*.tps
store
init.d
*.class
*~
.manager
scala/.manager
*~
pastrevs
test
*#
backup-db
backup_database.sh
Secret.scala
*/docweb/*

