
#frontlogo {
	font-size: 40px;
	margin-bottom: 0px;
	margin-left: 122px;
	margin-top: 32px;
}

#intellogo{
	position: absolute;
	left: 0px;
	top: 10px;
}

.tagline {
	margin-bottom: 15px;
}

.box {
	background-color: white;
	max-width: 600px;
	margin-top: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 3px solid #DFDFDF;
}

.box img {
	align: right;
	margin-left: 30px;
	width: 270px;
}

.box h2, .box h1 {
	background-color: #DFDFDF;
	font-size: 20px;
	padding: 2px;
	padding-left: 4px;
	margin-top: 0px;
}

.frontlist ol li, .frontlist ul li {
	font-size: 15px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.frontlist {
	float: left;
	width: 350px;
	min-height: 750px;
	margin-left: 20px;
	margin-bottom: 20px;
}

.docbox {
	width: 450px;
	font-size: 14px;
	position: absolute;
	left: 230px;
}

.docbox h3 {
	margin-top: 30px;
}

.docbody {
	padding: 10px;
}

#reader {
	position: absolute;
	left: 0px;
}

#activist {
	position: absolute;
	left: 380px;
}

#whatnext {
	clear: both;
	margin: 20px;
	margin-top: 20px;
}

#nav {
	margin: 20px;
	white-space: nowrap;
}

#nav ul {
	display: inline;
	background-color: #DFDFDF;
	color: #666666;
	padding: 4px;	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#nav li {
	display: inline;
	font-size: 14px;
	cursor: pointer;
	padding: 2px 8px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#nav li:hover {
	color: black;
	background-color: #D1D1D1;
}

#docnav {
	width: 180px;
	font-size: 14px;
	position: absolute;
	left: 20px;
}

#docnav ul{
	padding-left: 30px;
	margin-top: 10px;
	margin-bottom: 20px;
}

#docnav h3 {
	margin: 10px;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 10px;
}

#docnav h2 {
	margin: 10px;
	margin-bottom: 20px;
}

#docnav .toplink {
	margin-left: 10px;
	margin-bottom: 10px;
}
