body {
	margin: 0px;
/*	background: white; */
}

body, h1,h2,h3,p,item,addhdr{
	font-family: Helvetica, Geneva, Arial, sans-serif;
	font-size: 13px;
}

.item, .item-selected{
	cursor: pointer;
	display: block;
	text-decoration: none;
	color: black;
	font-size: 13px;
 	padding: 1px;
 	padding-left: 4px;
 	padding-right: 4px;
}

.item-selected{
	background-color: #d6effc;
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.item:hover{
	background-color: #ebf7fd;
}

.panel {
	margin-right: 5px;
	margin-bottom: 5px;
	-moz-border-radius: 8px;
	width: 400px;
	border: 1px solid #666666;
	vertical-align: top;
	background-color: white;
}

.wikipanel {
	margin-right: 5px;
	margin-bottom: 5px;
	-moz-border-radius: 8px;
	width: 400px;
	border: 1px solid #666666;
	vertical-align: top;
}

.wikipanel iframe {
	width: 400px;
}

.info {
	width: 400px;
}

.wikipanel .info{
	width: 400px;
}


h2{
	padding: 1px 1px 1px 5px;
	margin: 0px;
	font-size: 13px;
	font-weight: bold;	
	background-color: #5867a2;
	color: #c2d7ef;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	cursor: pointer;
}

linkbox {
	margin-left: 6px;
	margin-right: 6px;
}

.objtitle, .snippet-text{
	font-size: 13px;
/*
	font-weight: bold;
*/
	margin: 0px;
	padding: 1px 1px 1px 5px;
}

.snippet-text {
	font-style: italic;
}

h3{
	font-size: 13px;
	font-style: italic;
	border-bottom: 1px solid black;
	margin: 4px;
}

.createdby{
	font-weight: bold;
	font-style: italic;
}

.username{
	color: #0000CC;
}

.linkbox tr td{
	vertical-align: top;
}

a img {
	text-decoration: none;
	border: none;
}

.votebox {
	padding-left: 4px;
	vertical-align: top;
}

.vote {
	vertical-align: top;
}

.arrow {
	vertical-align: top;
}

.more {
	padding-left: 15px;
	font-style: italic;
	cursor: pointer;
	color: darkBlue;
}

.extralinks-hidden {
	display:none;
}


/*
.suggestions .item{
	font-size: 12px;
	border-collapse: collapse;
	border-spacing: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 15px;  /* needed due to FireFox not handling padding properly */
}
*/



.suggestions img {
	height: 12px;
}

.addbox{
	font-size: 13px;
	background-color: #EEEEEE;
	margin-top: 16px;
	padding-left: 4px;
}

.addhdr{
	padding-right: 5px;
	font-weight: bold;
}

.adder{
	padding: 4px;
	text-decoration: underline;
	color: #0000CC;
	cursor: pointer;
}

.adder-selected{
	font-weight: bold;
	background-color: #E0ECFF;
	padding: 4px;
}

.addpanel {
	background-color: #E0ECFF;
	padding-bottom: 5px;
}

.suggestions {
	background-color: white;
	margin: 4px; 
	margin-left: 10px;
	margin-right: 10px;
}

.panelbody {
	overflow-y: auto;
	overflow-x: hidden;
}

.linkbuttons {
	white-space: nowrap;
	vertical-align: middle;
}

.sugghdr, .sugghdr-on, .sugghdr-off {
	font-size: 13px;
	padding-left: 8px;
	padding-top: 8px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	font-weight: bold;
	margin: 0 0 0 10px;
	padding: 0 8px 4px;
}

.sugghdr-on {
	background-color: white;
}

.sugghdr-off {
	background-color: #EEEEEE;
	border-style: solid solid none;
	border-width: 1px 1px medium;
	border-color: #999999 #999999;
	cursor: pointer;
}

.sugghdrbox {
	margin-top: 4px;
	margin-bottom: 4px;
}

.sugentry{
	margin-left: 4px;
}

.addtxt, .addtxt-empty {
	width: 300px;
	margin-top: 5px;
	margin-left: 5px;
}

.addtxt-empty {
	color: grey;
}

.widthpad {
	display: block;
	height: 1px;
	width: 400px;
	color: transparent;
}

.disputed-title {
	background-color: darkRed;
	color: #efd7c2;
}

.context-br{
	margin: 10px;
}

.sniptitle {
	font-weight: bold;
	margin: 10px;
}

.snippet-context {
	margin: 10px;
	max-height: 200px;
	overflow-y: auto;
	padding: 6px;
	-moz-border-radius: 6px;
	background-color: #EEEEEE;
	border: 1px solid #999999;
}

.highlight-span {
	background-color: #FFFF00;
}

.greenadd {
	background-color : lightgrey;
	padding-left: 2px;
	padding-right: 2px;
	color: black;
	-moz-border-radius: 3px;
	cursor: pointer;
}

.greenadd:hover{
	background-color : green;
	color: white;	
}

.snipshorturl {
	color: #0000CC;
	margin-left: 10px;
}

.snippet-url {
	font-size: 12px;
	margin-left: 10px;
}

.topbar {
/*
	background-color: lightgrey;
*/
	background-color: #5867A2;
	width: 750px;
	display: block;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	position: fixed;
	left: 20px;
	color: white;
/*
	height: 24px;
*/
}

.panelicon {
	padding-right: 4px;
	vertical-align: bottom;
/*
	float: left;
	position: relative;
	left: 1px;
	top: 1px;
*/
}

.topbut {
	padding-left: 10px;
	padding-right: 10px;

	padding-top: 3px;
	padding-bottom: 3px;

	cursor: pointer;
	font-weight: bold;
}

.topbut:hover{
/*
	background-color: #5867a2;
*/
	background-color: #EEEEEE;
	color: black;
/*
	font-weight: bold;
*/
}

.leftbar {
/*
	float: left;
*/	display: inline;
	margin-top: 4px;
}

.rightbar {
	display: inline;	
	margin-left: 100px;

/*
	float: right;
*/
}

.toptable {
	clear: both;
	margin-top: 30px;
}

.searchbox, .searchbox-empty {
	border-width: 1px 0 1px 1px;
	margin: 1px;
	margin-bottom: 2px;
}

.searchbox-empty {
	color: grey;
}


.searchbut {
	vertical-align: middle;
	margin-left: 2px;
	cursor: pointer;
}

.thinklinktitle {
	padding: 1px 10px 1px 5px;
	font-size: 14px;
	color: white;
	font-weight: bold;
	margin-right: 4px;
/*
	background-color: #5867A2;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
*/
}

.navleft {
	float: right;
	position: relative;
	left: -404px;
	top: 0px;
	height: 18px;
	cursor: pointer;
}

.navright {
	float: right;
	position: relative;
	right: 422px;
	top: 0px;
	height: 18px;
	cursor: pointer;
}

.closebutton {
	float: right;
	position: relative;
	right: -17px;
	top: 1px;
	cursor: pointer;
}

.filler {
	width: 400px;
}

.sugbendbox{
	margin-left: 13px;
}

.arrowbend {
	vertical-align: bottom;
	margin-right: 2px;
}
