body, h1,h2,h3,p,item,addhdr{
	font-family: Helvetica, Geneva, Arial, sans-serif;
}

.item, .item-selected{
	cursor: pointer;
	display: block;
	text-decoration: none;
	color: black;
	font-size: 13px;
 	padding: 1px;
 	padding-left: 10px;
 	padding-right: 10px;
}

.item-selected{
	background-color: #d6effc;
	font-weight: bold;
	text-decoration: none;
	color: black;
}


.item:hover{
	background-color: #ebf7fd;
}

.panel {
	margin-right: 5px;
	margin-bottom: 5px;
	-moz-border-radius: 8px;
	width: 400px;
	border: 1px solid #666666;
	vertical-align: top;
}

.wikipanel {
	margin-right: 5px;
	margin-bottom: 5px;
	-moz-border-radius: 8px;
	width: 600px;
	border: 1px solid #666666;
	vertical-align: top;
}

.wikipanel iframe {
	width: 600px;
}

.info {
	width: 400px;
}

.wikipanel .info{
	width: 600px;
}


h2{
	padding: 1px 1px 1px 5px;
	margin: 0px;
	font-size: 13px;
	font-weight: bold;	
	background-color: #5867a2;
	color: #c2d7ef;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}


.objtitle{
	font-size: 13px;
	font-weight: bold;
	margin: 0px;
	padding: 1px 1px 1px 5px;
}

h3{
	font-size: 13px;
	font-style: italic;
	border-bottom: 1px solid black;
	margin: 4px;
}

.linkbox tr td{
	vertical-align: top;
}

a img {
	text-decoration: none;
	border: none;
}

.votebox {
	padding-left: 4px;
	vertical-align: top;
}

.vote {
	vertical-align: top;
}

.arrow {
	vertical-align: top;
}

.more {
	padding-left: 15px;
	font-style: italic;
	cursor: pointer;
}

/*
.suggestions .item{
	font-size: 12px;
	border-collapse: collapse;
	border-spacing: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 15px;  /* needed due to FireFox not handling padding properly */
}
*/



.suggestions img {
	height: 12px;
}

.addbox{
	font-size: 13px;
	background-color: #EEEEEE;
	margin-top: 16px;
	padding-left: 4px;
}

.addhdr{
	padding-right: 5px;
	font-weight: bold;
}

.adder{
	padding: 4px;
	text-decoration: underline;
	color: #0000CC;
	cursor: pointer;
}

.adder-selected{
	font-weight: bold;
	background-color: #E0ECFF;
	padding: 4px;
}

.addpanel {
	background-color: #E0ECFF;
	padding-bottom: 5px;
}

.suggestions {
	background-color: white;
	margin: 5px; 
	margin-left: 16px;
}

.sugghdr {
	font-size: 13px;
	padding-left: 8px;
	padding-top: 8px;
}

.addtxt {
	width: 300px;
	margin-top: 5px;
	margin-left: 5px;
}

.widthpad {
	display: block;
	height: 1px;
	width: 400px;
}

.greenadd {
	background-color : lightgrey;
	padding-left: 2px;
	padding-right: 2px;
	color: black;
	-moz-border-radius: 3px;
	cursor: pointer;
}

.greenadd:hover{
	background-color : green;
	color: white;	
}

.snipshorturl {
	color: #0000CC;
	margin-left: 10px;
}
