
* {
	font-family: arial,sans-serif;
	font-size: 12px;
}

a {
	text-decoration: none;
	color: #105CB6;
	cursor: pointer;
}

a:hover, a h1:hover{
	text-decoration: underline;
}

body {
	background-color: #eeeeee;
	margin: 0px;
	padding: 0px;
/*
	margin-left: 40px;
	margin-right: 40px;
*/
}

h1 {
	font-size: 20px;
}

#login h1 {
	margin-left: 40px;
}

.content, #claim, #topic, #user, #findsnippets {
	margin: 40px;	
}

#claim, #topic, #user{
	margin-left: 150px;
	max-width: 500px;
}

#findsnippets {
	margin-left: 240px;
	max-width: 450px;
}

#findsnippets h1 {
	margin-bottom: 5px;
}

#findsnippets .subtitle {
	padding-left: 50px;
	font-weight: bold;
	padding-bottom: 15px;
	font-size: 17px;
}

#findsnippets #queries {
	position: absolute;
	top: 65px;
	left: 10px;
	background-color: white;
	-moz-border-radius: 8px;
	padding: 4px;
	width: 200px;
}

.query .score {
	margin-left: 10px;
}	


.topclaim .instances {
	display: block;
	text-align: right;
	font-size: 15px;
	font-weight: bold;
}

.instances a {
	font-size: 15px;
}

#topics {
	position: absolute;
	top: 65px;
	left: 10px;
	width: 115px;
	background-color: white;
	-moz-border-radius: 8px;
	padding: 4px;
}

#topics h2 {
	margin-top: 0px;
}

#topics a {
	display: block;
}

#claimlist {
	background-color: white;
	max-width: 600px;
	-moz-border-radius: 10px;
	padding: 8px;
	margin-top: 10px;
}

#claimlist .title {
	font-weight: bold;
}

#newsnippet, #login {
	background-color: #FFFFAA;
	-moz-border-radius: 10px;
	padding: 10px;
	width: 520px;
}

#newsnippet label, #newsnippet input, #newsnippet textarea {
	display: block;
}

#newsnippet #name, #newsnippet textarea {
	width: 500px;
	font-size: 15px;	
	font-weight: bold;
	padding: 4px;
	margin-bottom: 10px;
}

#newsnippet input{
	padding: 4px;
	font-size: 15px;
	font-weight: bold;
}



.count {
	font-weight: bold;
}

.claim {
	background-color: white;
	color: #666;
	padding: 4px;
}

.claim .title {
	font-size: 13px;
	font-weight: bold;
	color: black;
}

.claim .description {
	margin-left: 20px;
}

#newclaim {
	font-size: 20px;
	margin-left: 60px;	
}

#newclaim a {
	font-size: 20px;
}

.claim .title:hover{
	text-decoration: underline;
}

.claim .user, .claim .instances, .claim .aggree, .claim .disagree {
	margin: 3px;
}

#supports, #opposed, #related-claims, #created, #instance {
	background-color: #ECEFF5;
	border: 1px solid grey;
	margin-top: 4px;
	max-width: 400px;
	-moz-border-radius: 8px;
	padding-bottom: 8px;
}

#supports h2, #opposed h2, #related-claims h2, #created h2, #instance h2 {
	background-color: #ECEFF5;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	padding: 4px;
	margin: 0px;
	padding-bottom: 4px;
}

#supports h2, #opposed h2 {
	background-color: transparent;
}

#supports {
	background-color: #E0FFEC;
}

#opposed {
	background-color: #FFD3D3;
}

.snippet {
	padding: 4px;
	background-color: white;
}

.snippet .title {
	font-size: 13px;
	font-weight: bold;
}

.logo {
	font-size: 40px;
	margin-bottom: 0px;
}

.tagline {
	font-size: 20px;
	margin-top: -7px;
	margin-left: 117px;
	margin-bottom: 20px;
}

.install {
	position: absolute;
	top: 30px;
	right: 30px;
}

#bigsearch, #snipsearch, #search {
	background-color: #FFFFAA;
	width: 600px;
	padding: 10px;
	-moz-border-radius: 10px;
	margin-bottom: 15px;
	margin-top: 10px;
}

#snipsearch, #search {
	width: 500px;
}

#bigsearch .query {
	width: 520px;
	padding: 4px;
	font-size: 15px;
	font-weight: bold;
}

#snipsearch .query, #search .query {
	width: 426px;
	padding: 4px;
}


#bigsearch .submit, #snipsearch .submit, #search .submit {
	padding: 3px;
}

.message {
	max-width: 500px;
	color: #555;
	margin-top: 10px;
	margin-bottom: 10px;
}

.message p {
	margin: 0px;
}

#topbar {
	width: 100%;
	background-color: #5867A2;
	padding: 1px;
}

#topbar a {
	color: white;
	margin: 4px;
	font-weight: bold;
}

#topbar a:hover {
	text-decoration: underline;
/*
	color: black;
	background-color: grey;
*/
}

#login label {
	display: block;
}

.searchbox {
	display: inline;
	margin-left: 30px;
}

.searchbox .query {
	border-width: 1px 0 1px 1px;
	margin: 1px;
	margin-bottom: 2px;
}

.icon {
	vertical-align: middle;
	border: none;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
}

.bossurl {
	padding: 4px;
}

.bossurl .title {
	font-weight: bold;
}

.bossurl .snippets {
	margin-left: 20px;
}

.searchcontent {
	background-color: #C3D9FF;
	-moz-border-radius: 8px;
}

.searchcontent .snippet {
	background-color: #E0ECFF;
}

.snippet {
	position: relative;
	margin-top: 4px;
}

.snippet .text {
	width: 300px;
}

.snippet .add {
	position: absolute;
	right: 50px;
	top: 5px;
}

.snippet .ignore {
	position: absolute;
	right: 3px;
	top: 5px;
}

.snippet .mustlogin {
	position: absolute;
	right: 3px;
	top: 5px;
}

.searchcontent .snippet-added {
	opacity: 0.5;
	background-color: #FFD3D3;
/*
	background-color: #E0FFEC;
*/
}
.searchcontent .snippet-ignored {
	opacity: 0.5;
	background-color: #CCCCCC;	

/*
	background-color: #E0FFEC;
*/
/*	background-color: #FFECEC; */
}
.snippet-added .add{
	color: black;
}
.snippet-ignored .ignore{
	color: black;
}

.pageselector {
	text-align: right;
	padding: 8px;
}

/*
.tabs .header span {
	border-color: #ccc;
	border-width: 1px 1px medium;
	border-style: solid solid none;
	padding: 2px 6px 3px;
}*/

.tabs .header{
	padding: 4px;
	padding-bottom: 8px;
	padding-left: 0px;
}

.tabs .header span, .tabs .header a {
	margin: 4px;
	padding: 4px;	
	-moz-border-radius: 4px;	
}

.tabs .header span, .tabs .header .active {
	background-color: grey;
	color: white;
}

.tabs .header .active:hover {
	text-decoration: none;
}

.tabs .header a {
	margin: 4px;
	border: 1px solid grey;
}
