
* {
	font-family: arial,sans-serif;
}

body {
	font-size: 12px;
}

a {
	text-decoration: none;
	color: #105CB6;
	cursor: pointer;
}

a:hover, a h1:hover{
	text-decoration: underline;
}

.webquote .title {
	font-weight: bold;
}

.body {
	background-color: #eeeeee;
	margin: 0px;
	padding: 0px;
}

h1 {
	font-size: 20px;
}

h1 a {
	font-size: 20px;
}

#login h1 {
	margin-left: 40px;
}

.content, #claim, #topic, #user, #findsnippets {
	margin: 40px;	
}

.content .content {
	margin: 0px;
}

#claim, #topic, #user{
	margin-left: 150px;
	max-width: 550px;
}

#findsnippets {
	margin-left: 240px;
	max-width: 550px;
}

h1 {
	margin-bottom: 5px;
}

.subtitle {
	padding-left: 50px;
	font-weight: bold;
	padding-bottom: 15px;
	font-size: 17px;
}

#findsnippets #queries {
	position: absolute;
	top: 108px;
	left: 10px;
	background-color: white;
	-moz-border-radius: 8px;
	padding: 4px;
	width: 200px;
}

.query .score {
	margin-left: 10px;
}	


.topclaim .instances {
	display: block;
	text-align: right;
	font-size: 15px;
	font-weight: bold;
}

.instances a {
	font-size: 15px;
}

#topics {
	position: absolute;
	top: 133px;
	left: 10px;
	width: 115px;
	background-color: white;
	-moz-border-radius: 8px;
	padding: 4px;
}

#searchlist {
	-moz-border-radius: 8px;
	padding: 4px;
	padding-bottom: 24px;
}

h2 {
	margin-top: 0px;
}

#topics a {
	display: block;
	margin-bottom: 6px;
}

#topics .add {
	margin-top: 10px;
}

#claimlist {
	background-color: white;
	max-width: 600px;
	-moz-border-radius: 10px;
/*
	padding: 8px;
*/
	margin-top: 10px;
}

#claimlist .title {
	font-weight: bold;
}

.form {
	background-color: #FFFFAA;
	-moz-border-radius: 10px;
	padding: 10px;
	width: 520px;
}

.form p {
	margin: 0px;
}

.form label,.form input,.form textarea {
	display: block;
	width: 500px;
	font-size: 15px;	
	font-weight: bold;
	padding: 4px;
}

.form .hidden {
	padding: 0px;
	margin: 0px;
	display: none;
}

.form label {
	font-weight: bold;
}

.form input, .form textarea {
	margin-bottom: 10px;
}

.form .submit {
	width: auto;
	margin-top: 20px;
	margin-bottom: 0px;
}

#login {
	width: 300px;
}

#login input {
	width: 280px;
}

#login .submit {
	width: auto;
}

#newsnippet #name, #newsnippet textarea {
	width: 500px;
	font-size: 15px;	
	font-weight: bold;
	padding: 4px;
	margin-bottom: 10px;
}

#newsnippet input{
	padding: 4px;
	font-size: 15px;
	font-weight: bold;
}


.count {
	font-weight: bold;
}

.claim {
	background-color: white;
	color: #666;
	padding: 4px;
	padding-bottom: 8px;
}

.miniclaim {
	background-color: white;
	color: #666;
	padding: 4px;
}

.miniclaim .title {
	color: black;
}

.claim .title{
	font-size: 13px;
	font-weight: bold;
	color: black;
}

.claim .description {
	margin-left: 20px;
}

#newclaim {
	font-size: 20px;
	margin-left: 60px;	
}

#newclaim a {
	font-size: 20px;
}

.claim .title:hover{
	text-decoration: underline;
}

.claim .user, .claim .instances, .claim .aggree, .claim .disagree {
	margin: 3px;
}

.claim .url {
	display: block;
	margin-left: 10px;
}

.says {
	margin-left: 10px;
	color: #666666;
}
/*
#supports, #opposed, #related-claims, #opposing-claims, #created, #instance {
	background-color: #ECEFF5;
	border: 1px solid gray;
	margin-top: 4px;
	-moz-border-radius: 8px;
	padding-bottom: 4px;
}

#supports h2, #opposed h2, #related-claims h2, #opposing-claims h2, #created h2, #instance h2, #searchlist h2 {
	background-color: #ECEFF5;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	padding: 4px;
	margin: 0px;
	padding-bottom: 4px;
}

#supports h2, #opposed h2, #searchlist h2 {
	background-color: transparent;
}

#supports {
	background-color: #E0FFEC;
}

#opposed {
	background-color: #FFD3D3;
}
*/

#searchlist {
	background-color: #E0ECFF;
	border: 1px solid gray;
}


.snippet {
	padding: 4px;
	background-color: white;
}

.snippet .title {
	font-size: 13px;
	font-weight: bold;
}

.logo {
	font-size: 40px;
	margin-bottom: 0px;
	margin-left: 100px;
	margin-top: -10px;
}

.tagline {
	font-size: 20px;
	margin-top: -7px;
	margin-left: 217px;
	margin-bottom: 30px;
}

.install {
	position: absolute;
	top: 28px;
	right: 6px;
	font-weight: bold;
	font-size: 14px;
	background-color: #FFFFAA;
	padding:4px;
	-moz-border-radius: 4px;
	color: black;
}

.hasextension {
	position: absolute;
	right: 4px;
	top: 3px;
	color: white;
}

#bigsearch, #snipsearch, #search {
	background-color: #FFFFAA;
	width: 530px;
	padding: 10px;
	-moz-border-radius: 10px;
	margin-bottom: 15px;
	margin-top: 10px;
}

#snipsearch, #search {
	width: auto;
	padding: 8px;
/*
	width: 500px;
*/
}

#bigsearch .query {
	width: 450px;
	padding: 4px;
	font-size: 15px;
	font-weight: bold;
}

#snipsearch .query, #search .query {
	width: 422px;
	padding: 4px;
}


#bigsearch .submit, #snipsearch .submit, #search .submit {
	padding: 3px;
	display: inline;
}

.message {
	max-width: 500px;
/*
	color: #555;
*/
	margin-top: 10px;
	margin-bottom: 10px;
	color: #5d5d5d;
}

.boldmessage {
	font-weight: bold;
}

.boldmessage, .message, .message a, .message p, .boldmessage a {
	font-size: 14px;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	margin-bottom: 15px;
	max-width: 500px;
}

.message p {
	margin: 0px;
}

#topbar {
	width: 100%;
	
	background-color: #5867A2;
/*
	background-color: #0961a9;
*/
	padding: 1px;
}

#labs {
	font-size: 16px;
	font-weight: bold;
	left: 75px;
	position: absolute;
	top: 44px;
}

#intellogo{
	position: absolute;
	left: 0px;
	top: 30px;
}

#topbar a {
	color: white;
	margin: 4px;
	font-weight: bold;
}

#topbar a:hover {
	text-decoration: underline;
/*
	color: black;
	background-color: grey;
*/
}

#login label, #signup label {
	display: block;
}

.searchbox {
	display: inline;
	margin-left: 30px;
	background-color: transparent;
	border: none;
}

.searchbox .query {
	border-width: 1px 0 1px 1px;
	margin: 1px;
	margin-bottom: 2px;
	font-size: 12px;
	display: inline;
	width: 100px;
	padding: 0px;
}

.icon {
	vertical-align: middle;
	border: none;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
	width: 16px;
	display: inline;
}

.bossurl {
	padding: 4px;
	overflow: hidden;
	padding-top: 10px;
	border-top: 2px solid #DFDFDF;
}

.bossurl .title {
	font-weight: bold;
	white-space: nowrap;
}

.bossurl .snippets {
/*
	margin-left: 20px;
*/
}

.searchcontent {
/*
	background-color: #C3D9FF;
*/
/*
	-moz-border-radius: 8px;
*/
	background-color: white;
}

/*
.searchcontent .snippet {
	background-color: #E0ECFF;
}
*/

.text br {
	margin-bottom: 10px;
}

#claimlist {
	width: 550px;
}

.bossurl .title {
	margin-left: 104px;
	white-space: nowrap;
}

.bossurl .url {
	margin-left: 104px;
	white-space: nowrap;
}

.snippettext {
	overflow-y: scroll;
	border: 1px solid black;
	width: 375px;
	height: 60px;
}

.snippet {
	position: relative;
	margin-top: 4px;
}

.clicksentence{
	cursor: pointer;
}
.clicksentence:hover {
	background-color: lightgrey;
}

.snippet .text {
	width: 350px;
	padding: 4px;
}

.snippet .boxcontent {
	margin-left: 100px;
}

.snippet .yesnobox {
	position: absolute;
	top: 10px;
	left: 4px;
}

.snippet .add {
	position: absolute;
	right: 50px;
	top: 5px;
	background: none;
	padding: 0px;
	margin: 0px;
}

.snippet .ignore {
	position: absolute;
	right: 3px;
	top: 5px;
}

.snippet .user {
	display: block;
	margin-left: 100px;
	margin-top: 4px;
}

.snippet .mustlogin {
	position: absolute;
	left: 0px;
	top: 10px;
}

.roboscore-yes, .roboscore-no, .roboscore-maybe {
	position: absolute;
	top: 30px;
	background-image: url(/images/robot.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 16px;
	
}

.roboscore-yes {
	left: 2px;
}
.roboscore-no {
	left: 50px;
}
.roboscore-maybe {
	left: 22px;
}

.searchcontent .snippet-added {
/*
	opacity: 0.5;
*/
/*
	background-color: #FFD3D3;
*/
/*
	background-color: #E0FFEC;
*/
}
.searchcontent .snippet-ignored {
/*
	opacity: 0.5;
*/
/*
	background-color: #CCCCCC;	
*/

/*
	background-color: #E0FFEC;
*/
/*	background-color: #FFECEC; */
}
.snippet-added .add{
	color: black;
}
.snippet-ignored .ignore{
	color: black;
}

.selectortop {
	position: absolute;
	top: 4px;
	right: 5px;
}

.selectorbottom {
	position: absolute;
	bottom: 5px;
	right: 4px;
}

#claimlist, #related-claims, #opposing-claims, #searchlist {
	position: relative;
}

#searchlist h2 {
	padding-top: 0px;
}

.tabs .header{
	padding: 4px;
	padding-bottom: 8px;
	padding-left: 0px;
}

.header {
	padding-bottom: 6px;
}

.tabs .header span, .tabs .header a {
	margin: 4px;
	padding: 4px;	
	-moz-border-radius: 4px;	
	float: left;
}

.tabs .header span, .tabs .header .active {
	background-color: gray;
	color: white;
	padding: 5px;
}

.tabbody {
	clear: both;
	padding-top: 6px;
}

.tabs .header .active:hover {
	text-decoration: none;
}

.tabs .header a {
	margin: 4px;
	border: 1px solid gray;
}

.add {
	display: block;
	margin-top: 2px;
	margin-left: 5px;
}


#minisearch {
	background-color: #FFFFAA;
	-moz-border-radius: 10px;
	padding: 4px;
	padding-left: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
}

#minisearch .query {
	width: 300px;
}

/* == Mini Interface == */

.minicontent #claimlist {
	margin-top: 4px;
}

.minicontent {
	padding: 8px;
	background-color: #eeeeee;
	-moz-border-radius: 8px;

}

.minicontent h1 {
	margin-top: 0px;
	font-size: 16px;
}

.miniform {
	background-color: #FFFFAA;
	-moz-border-radius: 10px;
	padding: 8px;
}

.miniform input, .miniform label, .miniform textarea{
	display: block;
	width: 380px;
}

.miniform label {
	margin-top: 10px;
}

.miniform .submit {
	margin-top: 10px;
	width: auto;
}

.minititle {
	font-size: 16px;
	margin-bottom: 6px;
	display: block;
	font-weight: bold;
}

img {
	border: none;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}

.claimbutton {
	display: block;
	padding: 4px;
}

.claimbutton:hover {
	text-decoration: none;
	background-color: #EEEEEE;
	-moz-border-radius: 4px;
}

.minicontent #claimlist {
	overflow: auto;
	max-height: 290px;
	margin-bottom: 2px;
}

.connect, .disconnect {
	display: inline;
	padding: 4px;
	padding-left: 6px;
	padding-right: 6px;
	margin-right: 6px;
	-moz-border-radius: 4px;
	background-color: #666666;
	cursor: pointer;
	color: white;
}

.connect:hover{
	background-color: green;
	color: white;
}

.disconnect:hover{
	background-color: darkRed;
}

.claimlink {
	margin-top: 16px;
	margin-bottom: 16px;
}

.beta {
	vertical-align: top;
	font-size: 14px;
}

.add {
	background-image: url(/images/add_item2.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 18px;
	padding-bottom: 1px;
	margin-top: 20px;
}

.manualmarked {
	display: block;
	padding-top: 20px;
}

.bugreport {
	padding-left: 20px;
}

.minibody {
	margin: 0px;
}

.webquote {
	background-color: white;
	padding: 4px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#searchlist h2 {
	margin-right: 50px;
}

#notagain {
	position: absolute;
	top: 3px;
	right: 50px;
}

#notagain input, #notagainmain input {
	vertical-align: middle;
}

#notagainmain {
	margin-left: 20px;
}

.votebox-norm, .votebox-up, .votebox-down {
	position: absolute;
	top: 4px;
	right: 0px;
	display: block;
	width: 36px;
	height: 16px;
}

.voteup, .votedown {
	width: 16px;
	height: 16px;
	display: block;	
	cursor: pointer;
}

.voteup {
	position: absolute;
	right: 20px;
	top: 0px;
}

.votedown {
	position: absolute;
	right: 4px;
	top: 0px;
}

.votebox-norm .voteup {
	background-image: url(/images/vote_up_e.png);
}

.votebox-norm .voteup:hover {
	background-image: url(/images/vote_up_on.png);
}

.votebox-norm .votedown {
	background-image: url(/images/vote_down_e.png);
}

.votebox-norm .votedown:hover {
	background-image: url(/images/vote_down_on.png);
}

.votebox-up .voteup {
	background-image: url(/images/vote_up_on.png);
	cursor: auto;
}

.votebox-up .votedown {
	background-image: url(/images/vote_restore_down.png);
}

.votebox-up .votedown:hover {
	background-image: url(/images/vote_restore_down_on.png);
}

.votebox-down .voteup {
	background-image: url(/images/vote_restore_up.png);
}

.votebox-down .voteup:hover {
	background-image: url(/images/vote_restore_up_on.png);
}

.votebox-down .votedown {
	background-image: url(/images/vote_down_on.png);
	cursor: auto;
}


.webquote .text{
	margin-right: 36px;
}

.webquote {
	position: relative;
}

.installbig {
	padding: 10px;
	margin: 10px;
	font-size: 36px;
	background-color: #5867A2;
	-moz-border-radius: 10px;
	color: white;
	font-weight: bold;
}

.installdiv {
	padding: 40px;
}

.videolink {
	display: block;
	color: black;
	background-color: #FFFFAA;
	position: absolute;
	left: 518px;
	top: 35px;
	padding: 6px;
	-moz-border-radius: 8px;	
	font-weight: bold;
	font-size: 12px;
}

#badsnippet{
	margin: 4px;
	float: right;
}

.conflict {
	padding-top: 8px;
	padding-bottom: 8px;
}

.togglebox {
	position: relative;
}

.yesnobox {
	padding-right: 4px;
}

.yes, .no {
	display: inline;
	background-color: #eeeeee;
	color: black;
	-moz-border-radius: 4px;
	cursor: pointer;
	padding: 4px 6px;
}

.yes:hover, .no:hover, .state-yes .yes, .state-no .no {
	background-color: #666666;
	color: white;
}

.state-no .boxcontent {
	opacity: 0.3;
}

/*
.state-yes .boxcontent {
	background-color: yellow;
}

.state-yes .boxcontent:hover{
	background-color: 
}
*/

.yes {
}

.no {
}

.more {
	margin-left: 10px;
	margin-right: 10px;
	color: gray;
	cursor: pointer;
}

.more:hover {
	color: black;
}

.body, .minicontent {
	background: #F5F5FF;
}

.tabs .header, #claimlist h2, .headersearch {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	background: #DFDFDF none repeat scroll 0 0;
	display: block;
	height: 30px;
	margin: 0px;
	padding: 5px;
}

#claimlist h2 {
	padding-top: 10px;
	height: 20px;
}

.tabbody {
	position: relative;
	padding-top: 0px;
	border-color: #DFDFDF;
	border-style: none solid solid;
	border-width: 0 2px 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-radius-bottomleft: 10px;
	-webkit-border-radius-bottomright: 10px;
	padding: 10px;
	background-color: white;
}

.tabs .header span {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background:#AFAFAF none repeat scroll 0 0;
	border:1px inset #FFFFFF;
	color:#FFFFFF;
}

.tabs .header a {
	background:#DFDFDF none repeat scroll 0 0;
	border:1px solid #DFDFDF;
	color:#666666;
	display:block;
/*
	margin:5px;
*/
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:5px;
	text-decoration:none;
/*
	margin-top: 8px;
*/
}

.tabs .header a:hover {
	border: 1px solid #D1D1D1;
	background: #D1D1D1;
	color: black;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}


#topics, #findsnippets #queries {
	background-color: #DFDFDF;
}

#opposing-claims h2 {
	margin-top: 30px;
}

.pager {
	padding-top: 10px;
}

.headersearch .query {
	float: left;
	width: 450px;
	padding: 4px;
}

.headersearch .submit {
	float: left;
	padding: 4px;
}

h3 {
	margin-top: 0px;
}

.snipclaimtitle {
	margin-left: 20px;
	display: block;
	font-weight: bold;
}

.snipclaimlink {
	margin-left: 104px;
}

#opposed .webquote {
	background-color: #FFDFDF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 7px;
}

#supports .webquote {
	background-color: #DFFFDF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 7px;
}
