
* {
	font-family: arial,sans-serif;
	font-size: 12px;
}

a {
	text-decoration: none;
	color: #105CB6;
	cursor: pointer;
}

a:hover, a h1:hover{
	text-decoration: underline;
}

.body {
	background-color: #eeeeee;
	margin: 0px;
	padding: 0px;
/*
	margin-left: 40px;
	margin-right: 40px;
*/
}

h1 {
	font-size: 20px;
}

h1 a {
	font-size: 20px;
}

#login h1 {
	margin-left: 40px;
}

.content, #claim, #topic, #user, #findsnippets {
	margin: 40px;	
}

.content .content {
	margin: 0px;
}

#claim, #topic, #user{
	margin-left: 150px;
	max-width: 500px;
}

#findsnippets {
	margin-left: 240px;
	max-width: 450px;
}

h1 {
	margin-bottom: 5px;
}

.subtitle {
	padding-left: 50px;
	font-weight: bold;
	padding-bottom: 15px;
	font-size: 17px;
}

#findsnippets #queries {
	position: absolute;
	top: 108px;
	left: 10px;
	background-color: white;
	-moz-border-radius: 8px;
	padding: 4px;
	width: 200px;
}

.query .score {
	margin-left: 10px;
}	


.topclaim .instances {
	display: block;
	text-align: right;
	font-size: 15px;
	font-weight: bold;
}

.instances a {
	font-size: 15px;
}

#topics {
	position: absolute;
	top: 133px;
	left: 10px;
	width: 115px;
	background-color: white;
	-moz-border-radius: 8px;
	padding: 4px;
}

#searchlist {
	-moz-border-radius: 8px;
	padding: 4px;
	padding-bottom: 24px;
}

h2 {
	margin-top: 0px;
}

#topics a {
	display: block;
	margin-bottom: 6px;
}

#topics .add {
	margin-top: 10px;
}

#claimlist {
	background-color: white;
	max-width: 600px;
	-moz-border-radius: 10px;
	padding: 8px;
	margin-top: 10px;
}

#claimlist .title {
	font-weight: bold;
}

.form {
	background-color: #FFFFAA;
	-moz-border-radius: 10px;
	padding: 10px;
	width: 520px;
}

.form p {
	margin: 0px;
}

.form label,.form input,.form textarea {
	display: block;
	width: 500px;
	font-size: 15px;	
	font-weight: bold;
	padding: 4px;
}

.form .hidden {
	padding: 0px;
	margin: 0px;
	display: none;
}

.form label {
	font-weight: bold;
}

.form input, .form textarea {
	margin-bottom: 10px;
}

.form .submit {
	width: auto;
	margin-top: 20px;
	margin-bottom: 0px;
}

#login {
	width: 300px;
}

#login input {
	width: 280px;
}

#login .submit {
	width: auto;
}

#newsnippet #name, #newsnippet textarea {
	width: 500px;
	font-size: 15px;	
	font-weight: bold;
	padding: 4px;
	margin-bottom: 10px;
}

#newsnippet input{
	padding: 4px;
	font-size: 15px;
	font-weight: bold;
}


.count {
	font-weight: bold;
}

.claim {
	background-color: white;
	color: #666;
	padding: 4px;
	padding-bottom: 8px;
}

.claim .title {
	font-size: 13px;
	font-weight: bold;
	color: black;
}

.claim .description {
	margin-left: 20px;
}

#newclaim {
	font-size: 20px;
	margin-left: 60px;	
}

#newclaim a {
	font-size: 20px;
}

.claim .title:hover{
	text-decoration: underline;
}

.claim .user, .claim .instances, .claim .aggree, .claim .disagree {
	margin: 3px;
}

.claim .url {
	display: block;
	margin-left: 10px;
}

.says {
	margin-left: 10px;
	color: #666666;
}
#supports, #opposed, #related-claims, #created, #instance {
	background-color: #ECEFF5;
	border: 1px solid gray;
	margin-top: 4px;
/*
	max-width: 400px;
*/
	-moz-border-radius: 8px;
	padding-bottom: 4px;
}

#supports h2, #opposed h2, #related-claims h2, #created h2, #instance h2, #searchlist h2 {
	background-color: #ECEFF5;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	padding: 4px;
	margin: 0px;
	padding-bottom: 4px;
}

#supports h2, #opposed h2, #searchlist h2 {
	background-color: transparent;
}

#supports {
	background-color: #E0FFEC;
}

#opposed {
	background-color: #FFD3D3;
}

#searchlist {
	background-color: #E0ECFF;
	border: 1px solid gray;
}


.snippet {
	padding: 4px;
	background-color: white;
}

.snippet .title {
	font-size: 13px;
	font-weight: bold;
}

.logo {
	font-size: 40px;
	margin-bottom: 0px;
	margin-left: 100px;
	margin-top: -20px;
}

.tagline {
	font-size: 20px;
	margin-top: -7px;
	margin-left: 217px;
	margin-bottom: 20px;
}

.install {
	position: absolute;
	top: 28px;
	right: 6px;
	font-weight: bold;
	font-size: 14px;
	background-color: #FFFFAA;
	padding:4px;
	-moz-border-radius: 4px;
	color: black;
}

.hasextension {
	position: absolute;
	right: 4px;
	top: 3px;
	color: white;
}

#bigsearch, #snipsearch, #search {
	background-color: #FFFFAA;
	width: 600px;
	padding: 10px;
	-moz-border-radius: 10px;
	margin-bottom: 15px;
	margin-top: 10px;
}

#snipsearch, #search {
	width: auto;
	padding: 8px;
/*
	width: 500px;
*/
}

#bigsearch .query {
	width: 520px;
	padding: 4px;
	font-size: 15px;
	font-weight: bold;
}

#snipsearch .query, #search .query {
	width: 422px;
	padding: 4px;
}


#bigsearch .submit, #snipsearch .submit, #search .submit {
	padding: 3px;
	display: inline;
}

.message {
	max-width: 500px;
	color: #555;
	margin-top: 10px;
	margin-bottom: 10px;
}

.message p {
	margin: 0px;
}

#topbar {
	width: 100%;
	
	background-color: #5867A2;
/*
	background-color: #0961a9;
*/
	padding: 1px;
}

#labs {
	font-size: 16px;
	font-weight: bold;
	left: 75px;
	position: absolute;
	top: 44px;
}

#intellogo{
	position: absolute;
	left: 0px;
	top: 20px;
}

#topbar a {
	color: white;
	margin: 4px;
	font-weight: bold;
}

#topbar a:hover {
	text-decoration: underline;
/*
	color: black;
	background-color: grey;
*/
}

#login label, #signup label {
	display: block;
}

.searchbox {
	display: inline;
	margin-left: 30px;
	background-color: transparent;
	border: none;
}

.searchbox .query {
	border-width: 1px 0 1px 1px;
	margin: 1px;
	margin-bottom: 2px;
	font-size: 12px;
	display: inline;
	width: 100px;
	padding: 0px;
}

.icon {
	vertical-align: middle;
	border: none;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
	width: 16px;
	display: inline;
}

.bossurl {
	padding: 4px;
}

.bossurl .title {
	font-weight: bold;
}

.bossurl .snippets {
	margin-left: 20px;
}

.searchcontent {
/*
	background-color: #C3D9FF;
*/
/*
	-moz-border-radius: 8px;
*/
	background-color: white;
}

.searchcontent .snippet {
	background-color: #E0ECFF;
}

.snippet {
	position: relative;
	margin-top: 4px;
}

.snippet .text {
	width: 300px;
}

.snippet .add {
	position: absolute;
	right: 50px;
	top: 5px;
	background: none;
	padding: 0px;
	margin: 0px;
}

.snippet .ignore {
	position: absolute;
	right: 3px;
	top: 5px;
}

.snippet .user {
	position: absolute;
	right: 3px;
	top: 20px;
}

.snippet .mustlogin {
	position: absolute;
	right: 3px;
	top: 5px;
}

.searchcontent .snippet-added {
	opacity: 0.5;
	background-color: #FFD3D3;
/*
	background-color: #E0FFEC;
*/
}
.searchcontent .snippet-ignored {
	opacity: 0.5;
	background-color: #CCCCCC;	

/*
	background-color: #E0FFEC;
*/
/*	background-color: #FFECEC; */
}
.snippet-added .add{
	color: black;
}
.snippet-ignored .ignore{
	color: black;
}

.selectortop {
	position: absolute;
	top: 4px;
	right: 5px;
}

.selectorbottom {
	position: absolute;
	bottom: 4px;
	right: 5px;
}

.evidence, #claimlist, #related-claims, #searchlist {
	position: relative;
}

#searchlist h2 {
	padding-top: 0px;
}

/*
	text-align: right;
	padding: 8px;
	padding-top: 0px;
	margin-top: 0px;
*/
}

/*
.tabs .header span {
	border-color: #ccc;
	border-width: 1px 1px medium;
	border-style: solid solid none;
	padding: 2px 6px 3px;
}*/

.tabs .header{
	padding: 4px;
	padding-bottom: 8px;
	padding-left: 0px;
}

.header {
/*
	padding-top: 6px;
*/
	padding-bottom: 6px;
}

.tabs .header span, .tabs .header a {
	margin: 4px;
	padding: 4px;	
	-moz-border-radius: 4px;	
	float: left;
}

.tabs .header span, .tabs .header .active {
	background-color: gray;
	color: white;
	padding: 5px;
}

.tabbody {
	clear: both;
	padding-top: 6px;
}

.tabs .header .active:hover {
	text-decoration: none;
}

.tabs .header a {
	margin: 4px;
	border: 1px solid gray;
}

.add {
	display: block;
	margin-top: 2px;
	margin-left: 5px;
}


#minisearch {
	background-color: #FFFFAA;
	-moz-border-radius: 10px;
	padding: 4px;
	padding-left: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
}

#minisearch .query {
	width: 300px;
}

/* == Mini Interface == */

.minicontent #claimlist {
	margin-top: 4px;
}

.minicontent {
	padding: 8px;
	background-color: #eeeeee;
	-moz-border-radius: 8px;

}

.minicontent h1 {
	margin-top: 0px;
	font-size: 16px;
}

.miniform {
	background-color: #FFFFAA;
	-moz-border-radius: 10px;
	padding: 8px;
}

.miniform input, .miniform label, .miniform textarea{
	display: block;
	width: 380px;
}

.miniform label {
	margin-top: 10px;
}

.miniform .submit {
	margin-top: 10px;
	width: auto;
}

.minititle {
	font-size: 16px;
	margin-bottom: 6px;
	display: block;
	font-weight: bold;
}

img {
	border: none;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}

.claimbutton {
	display: block;
	padding: 4px;
}

.claimbutton:hover {
	text-decoration: none;
	background-color: #EEEEEE;
	-moz-border-radius: 4px;
}

.minicontent #claimlist {
	overflow: auto;
	max-height: 290px;
	margin-bottom: 2px;
}

.connect, .disconnect {
	display: inline;
	padding: 4px;
	padding-left: 6px;
	padding-right: 6px;
	margin-right: 6px;
	-moz-border-radius: 4px;
	background-color: #666666;
	cursor: pointer;
	color: white;
}

.connect:hover{
	background-color: green;
	color: white;
}

.disconnect:hover{
	background-color: darkRed;
}

.claimlink {
	margin-top: 16px;
	margin-bottom: 16px;
}

.beta {
	vertical-align: top;
}

.add {
	background-image: url(/images/add_item2.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 18px;
	padding-bottom: 1px;
}

.manualmarked {
	display: block;
	padding-top: 20px;
}

.bugreport {
	padding-left: 20px;
}

.minibody {
	margin: 0px;
}

.webquote {
	background-color: white;
	padding: 4px;
}

#searchlist h2 {
	margin-right: 50px;
}

#notagain {
	position: absolute;
	top: 3px;
	right: 50px;
}

#notagain input, #notagainmain input {
	vertical-align: middle;
}

#notagainmain {
	margin-left: 10px;
}
