body {
   font-family: Helvetica, Geneva, Arial, sans-serif;
   font-size: small;
   font-color: #000;
   background-color: #fff;
   margin: 0px;
}
/* input { 
   margin-bottom: 5px;
} */
p { 
   line-height: 150%;
}
div#container {
/*   max-width: 760px; */
/*   margin: 0; */
		max-width: 800px; 
		display: table;
		margin: auto;
		width: 100%;
}
div#header {
/*   text-align: center; */
/*	margin-left: 100px; */
}
div#content {
   float: left;
/*   max-width: 550px; */
/*      margin-left: 100px; */
		width: 100%;
}
div#content h3 {
   margin-top: 15px;
}
div#sidebar {
/*   width: 200px; */
/*   margin-left: 480px; */
}
ul#points {
/*   max-width: 700px; */
   text-align: center;
   padding: 5px;
   background-color: #ececec;
   border: 1px solid #ccc;
   margin-bottom: 20px;
}
ul#points li {
   display: inline;
   padding-left: 5px;
}

a img {
	text-decoration: none;
	border: none;
}

.snippet {
	padding: 10px;
}
.snippet_point a, .point_ref a, .topic_ref a {
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	color: #000077;
}
.point_ref {
	padding-top: 2px; 
}
.relationtitle {
	margin-left: 15px;
	font-style: italic;
	border-bottom: 1px #000 solid;
	font-size: 13px;
	cursor: pointer;
}
.relationtitle:hover {
	background-color: #ebf7fd;
}

.relationtitle_selected, .relationtitle_selected:hover {
	background-color: #d5effc;
}

.edit {
	font-size: small;
	font-weight: normal;
}

.maintable{
	padding-top: 5px;
	max-width: 800px;
	width: 100%;
}
.maintable .firstcolumn {
/*	min-width: 400px; */
	text-align: left;
	width: 60%; 
}

.maintable .secondcolumn {
	width: 40%;
}

.topics {
	min-width: 200px;
}

.maintable tr td {
	vertical-align: top;
}

.minitable tr td{
	vertical-align: top;
}



.dragtable tr td {
	vertical-align: middle;
}

.snippet_url {
	text-decoration: none;
	color: #000077;
	padding-left: 8pt;
	font-size: small;
}
.snippet_text {
	font-size: 8pt;
	font-style: normal;
	color: #666666;
	margin-left: 10px;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif
}
.snippet_author {
	margin-left: 10px;
	text-decoration: none;
	font-size: small;
}
.snippet_author img {
	vertical-align: middle;
}
.snippets, .points, .topics, .actions, .listitems {
	border: 1px solid #666666;
/*	padding: 10px;
	margin: 20px; */
/*	margin-left: 5px; */
	margin-right: 5px;
	margin-bottom: 5px;
	-moz-border-radius: 8px;
	max-width: 500px;
}
.point_ref, .topic_ref {
/*	padding-left: 10px; */
	padding-right: 10px;
}

.topic_ref {
	padding-left: 10px; 
	padding-right: 10px;
}

.point_list {
	padding-bottom: 10px;
}
.topiclist {
	padding: 4px;
}

.topic_list_small a {
	font-size: 8pt;
	font-style: italic;
	color: #666666;
}

#blatopright {
	float: right;
	top: 0px;
}

#topright {
	position: absolute;
	right: 16px;
}
#topbar {
	background-color: #E9E9E9;
}
#logo {
	font-size: 16pt;
/*	width: 20%; */
	margin-left: 8px;
}
h2 {
	padding: 1px 1px 1px 5px;
	margin: 0px;
/*	color: #C41200; */
	font-size: 16px;
	font-weight: bold;	
	background-color: #5867a2;
	color: #c2d7ef;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}
h1 {
	margin-bottom: 0px;
}

.more {
	text-align: right;
	display: block;
	padding: 4px;
}

.prevnext {
	padding: 4px;
}

#search form {
	display: inline;
}


#tl_search_results {
	/*position: absolute;
	left: 0px;
	top: 0px;
	color: #000000;
	border-left: 1px #000 solid;
	border-right: 1px #000 solid;
	background-color: #FFFFFF;*/
	font-size: 8pt;
	text-align: left; 
	z-index: auto;
	width: 200px;
	max-height: 300px;
	overflow: auto;
	max-width:400px;
}

#tl_search_results_child {
	position: absolute;
	left: 0px;
	top: 0px;
	color: #000000;
	font-size: 8pt;
	background-color: #FFFFFF;
	border-left: 1px #000 solid;
	border-right: 1px #000 solid;
	text-align: left; 
	z-index: 2147483647;
	width: 200px;
	max-height: 300px;
	overflow: auto;
}

.help_box {
	width: 300px;
	position:absolute;
	color: #003264;
	font-size: 8pt;
	font-family: verdana, sans-serif;
	text-align: left;
	background-color: #FFFFBE;
	border: 3px #C0C0C0 solid;
	z-index: 2147483647;
	padding: 5px;
}

.results_box {
	position: absolute;
	left: 0px;
	top: 0px;
	color: #000000;
	font-size: 10pt;
	background-color: #FFFFFF;
	border: 1px #000 solid;
	text-align: left; 
	z-index: auto;
	width: 200px;
	max-height: 300px;
	overflow: auto;

}

.suggest_item {
	background-color: #FFFFFF;
	border-left: 1px #AAA solid;
	border-right: 1px #AAA solid;
	border-top: 1px #AAA solid;
	border-bottom: 1px #AAA solid;
	color: #000000;
	padding: 2px; 
	overflow: hidden;
	font-size: 9pt;
	font-family: verdana, sans-serif;
}

.suggest_item_over {
  font-size: 9pt;
	font-family: verdana, sans-serif;
	background-color: #3366CC;
	border-left: 1px #AAA solid;
	border-right: 1px #AAA solid;
	border-top: 1px #AAA solid;
	border-bottom: 1px #AAA solid;
	color: #F5F5F5;
	padding: 2px;
	cursor: hand;
	cursor: pointer;
	overflow: hidden;
}

.tl_suggest_title {
	color: white;
	background-color: #5867A2;
	padding: 2px;
	font-size: 9pt;
	font-family: verdana, sans-serif;
}

.tl_suggest_maindiv {
	width: 400px;
}

.hidden {
	visibility:hidden;
	display:none;
}

.subpoints_section {
	border-left: 1px dotted black;
	margin-left: 5px;	
	padding-bottom: 5px;
}

.subpoints {
	padding-left: 15px;
}

.point_container {
	padding-left: 5px;
	overflow: auto;
}

.browse_container {
	height: 218px;
	overflow:auto;
}

.msg {
	padding: 20px;
	font-size: 16px;
}

.pointtable td {
	width: "10px";
}

.point_ref img {
	padding-top: "4px";
}

.point_text {
	background-color: white;
	padding: 8px;
}

.browsetab {
	padding: 4px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	margin-top: 4px;
	background-color: #ececec;
	border: 1px solid #666666;
	border-right: none;
	cursor: pointer;
	font-size: 13px;
}

.browsetab_top {
	margin-top: 16px;
}

.browsetab_selected {
	background-color: #d6effc;
	border-color: #99defd;
}

.browsetab:hover {
	background-color: #e2f5ff;
	cursor: pointer;
}

.browsetable {
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

.browsetable td {
	padding: 0px;
	margin: 0px;
}


.dragitem,.previewitem {
	cursor: pointer;
	font-size: 13px;
}


.dragitem:hover,.previewitem:hover {
	background-color: #ebf7fd;
/*	background-color: #e2f5ff; */
	border-color: #d8f0fa;
	-moz-border-radius: 2px;
}

.dragitem_selected, .dragitem_selected:hover {
	background-color: #d5effc;
	border-color: #99defd;
	-moz-border-radius: 2px;	
}

.action {
	padding: 2px;
	margin: 2px;
	-moz-border-radius: 4px;
	border: 1px solid #666666;
	background-color: #ececec;
	cursor: pointer;
	font-size: 8pt;
}

.action:hover {
	background-color: #e2f5ff;
}

.action img {
	vertical-align: middle;
}

.searchbar {
	background-color: #eeeeee;
}

.inputbox {
 	background-color: #ffffd3;
}

.searchbox {
	width: 290px;
	margin: 4px;
	margin-left: 8px;
}

.dragbar {
	background: url(/images/gripbar2.png);
	cursor: n-resize;
	height: 8px;
	margin: 5px;
	margin-right: 10px;
}

.pointinput_empty {
	width: 420px;
 	background-color: #ffffd3;
 	color: grey;
 	font-style: italic;
}

.pointinput {
	width: 420px;
	background-color: #ffffd3;
}

.dialogbuttons {
	float: right;
}

.browsetable td {
	vertical-align: top;
}

.savewhat, .savewhere {
/*	font-weight: bold; */
	margin-bottom: 2px;
}

.pointicon {
	vertical-align: middle;
	padding-right: 2px;
/*	padding-left: 50px; */
}

.folder_add {
	font-size: 8pt;
	background-color: #ececec;
	-moz-border-radius: 3px;
	color: black;
	padding-left: 3px;
	padding-right: 3px;
	margin-top: 0px;
	padding-top: 0px;
	cursor: pointer;
}

.folder_add:hover{
	background-color: #e2f5ff;	
}

.folder_add img {
	vertical-align: middle;
}

.foldername {
	font-weight: normal;
/*	background-color: #e2f5ff;
	-moz-border-radius: 3px; */
}

.tl_dialog {
/*	background-color: #CCDDDD; */
	background-color: #eeeeee;
	border: 2px solid #242E35;
	color: #242E35;
	padding: 1px;
	overflow: auto;
	font-size: 9pt;
	font-family: verdana, sans-serif;
	text-align: left;
}

.tl_dialog td {
	font-size: 9pt;
	font-family: verdana, sans-serif;
	text-align: left;
}

.tl_dialog_title {
/*	background-color: #4A7B6F; 
	color: #EEEEE7; */
	background-color: #5867a2;
	color: #c2d7ef;
	text-align: left;
	font-size: 12pt;
	font-family: verdana, sans-serif;
/*	border-bottom: 2px solid #242E35; */
	padding: 2px;	
/*	margin-bottom: 5px; */
	cursor: move;
}

.tl_dialog_title td {
	font-size: 12pt;
	font-family: verdana, sans-serif;
}

.tl_dialog_body {
	margin: 4px;
}

.tl_dialog a:link {
	color: #7F5E17;
	text-decoration: none;
}

.tl_dialog a:visited {
	color: #7F5E17;
	text-decoration: none;
}

.tl_dialog a:hover {
	color: #7F5E17;
	text-decoration: underline;
}

.dragcopymsg {
	color: blue;
}

.dragmovemsg {
	color: red;
}

.pathselect{
	width: 250px;
	font-weight: bold;
}

.actiontable {
	width: 100%;
}

.actiontable td {
	width: 33%;
}

.browsetabspacer{
	padding-top: 20px;
}

.actiontab {
	padding: 4px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	margin-top: 4px;
	background-color: #ececec;
	border: 1px solid #666666;
	border-right: none;
	cursor: pointer;
	font-size: 13px;
}

.actiontab:hover {
	background-color: #e2f5ff;
	cursor: pointer;
}