div.tabMain {	
	border-top: 1px solid #000000;
	/*border-bottom-width: 0px;*/
}

div.tabArea {
  font-size: 80%;
  font-weight: bold;
}

a.tab {
  background-color: #d0d0d0;
  border: 1px solid #000000;
  border-bottom-width: 0px;
  padding: 2px 1em 2px 1em;
  text-decoration: none;
  cursor: pointer;
}

a.tab, a.tab:visited {
  color: #808080;
}

a.tab:hover {
  background-color: #d0d0d0;
  color: #606060;
}

a.tab.activeTab, a.tab.activeTab:hover, a.tab.activeTab:visited {
  background-color: #ffffff;
  color: #000000;
}

.related_points .relationtitle {
	margin-left: 5px;
	font-style: italic;
	border-bottom: 1px #000 solid;
}

.suggest_item {
	background-color:#FFFFFF;
	border:1px solid #AAAAAA;
	color:#000000;
	overflow:hidden;
	padding:2px;
}
.suggest_item_over {
	background-color:#3366CC;
	border:1px solid #AAAAAA;
	color:#F5F5F5;
	cursor:pointer;
	overflow:hidden;
}

.hidden {
	display:none;
	visibility:hidden;
}

body {
   font-family: Helvetica, Geneva, Arial, sans-serif;
   font-size: small;
   font-color: #000;
   background-color: #fff;
   width: 100%;
   margin:0px;
   padding-top:5px;
}
input { 
   margin-bottom: 5px;
}
p { 
   line-height: 150%;
}
div#container {
/*   width: 760px; */
   margin: 0px;
}
div#header {
/*   text-align: center; */
	margin-left: 100px;
}
div#content {
   float: left;
   max-width: 400px; 
 
}
div#content h3 {
   margin-top: 15px;
}
div#sidebar {
   width: 200px;
   margin-left: 480px;
}
ul#points {
   width: 700px;
   text-align: center;
   padding: 5px;
   background-color: #ececec;
   border: 1px solid #ccc;
   margin-bottom: 20px;
}
ul#points li {
   display: inline;
   padding-left: 5px;
}
.snippet {
	padding: 10px;
	max-width: 500px;
}
.snippet_point a, .point_ref a {
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
	color: #000077;
}
.point_ref {
	padding-top: 6px;
}
.snippet_url {
	text-decoration: none;
	color: #000077;
	padding-left: 8pt;
}
.snippet_text {
	font-size: 8pt;
	font-style: normal;
	color: #666666;
	margin-left: 10px;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif
}
.snippet_author a {
	margin-left: 10px;
	text-decoration: none;
}
/* .snippets, .points {
	border: 1px solid #666666;
	padding: 10px;
	margin: 20px;
}
*/
/*.snippets {
	float: right;
}*/

.point_ref {
	padding-left: 10px;
}
.point_list {
	padding-bottom: 10px;
}

#blatopright {
	float: right;
	top: 0px;
}

#topright {
	position: absolute;
	right: 16px;
}
#topbar {
	background-color: #E9E9E9;
}
#logo {
	font-size: 16pt;
	width: 20%;
	margin-left: 8px;
}
h2 {
	margin: 0px;
	font-size: 14px;
}
h1 {
	margin-bottom: 0px;
}
#search form {
	display: inline;
}