<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html;.
	charset=iso-8859-1" />
	<meta http-equiv="Content-Language" content="en-us" />
	<title>MindMix</title>
	<%= stylesheet_link_tag "style" %>
	
	<%
		hostname = Socket.gethostname
		if hostname == "rob"
			@base = ""
			configfile = "localconfig.js"
		else
			@base = "/tl"
			configfile = "serverconfig.js"
		end
	%>

	<script type="text/javascript" src="<%=@base%>/javascripts/jquery-1.2.3.js"></script>
	<script type="text/javascript" src="<%=@base%>/javascripts/robjson.js"></script>
	<script type="text/javascript" src="<%=@base%>/javascripts/webui.js"></script>
	<script type="text/javascript" src="<%=@base%>/javascripts/<%=configfile%>"></script>
	
</head>
<body id="body" onkeypress="keyPressHandler(event)" onkeydown="keyDownHandler(event)" onkeyup="keyUpHandler(event)">
	<div id="container">
	<%= yield -%>
	</div>
</body>
</html>
