<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html;.
	charset=iso-8859-1" />
	<meta http-equiv="Content-Language" content="en-us" />
	<title><%= @title %> - Think Link</title>
	<%= stylesheet_link_tag "stylemini" %>
	<!-- <%= javascript_include_tag :all, :cache => true %> -->
	<% if @user.email.eql?("trush@eecs.berkeley.edu") %>
		<script type="text/javascript" src="/javascripts/tl_bethconfig.js"></script>
	<% else %>
		<script type="text/javascript" src="/javascripts/tl_robconfig.js"></script>
	<% end %>

	<script type="text/javascript" src="/javascripts/jquery-1.2.3.js"></script>
	<script type="text/javascript" src="/javascripts/tl_suggest.js"></script>
	<script type="text/javascript" src="/javascripts/tl_helpers.js"></script>
	<script type="text/javascript" src="/javascripts/tl_ruby_helpers.js"></script>

	
</head>
<body id="body">
	<div id="container">
	<%= yield -%>
	</div>
</body>
</html>
