<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html;.
	charset=iso-8859-1" />
	<meta http-equiv="Content-Language" content="en-us" />
	<% if @title %>
	<title><%= @title %> - Think Link</title>
	<% elsif @minititle %>
	<title><%= @minititle %> - Think Link</title>
	<% else %>
	<title>Think Link</title>
	<% end %>
	<%= stylesheet_link_tag "style" %>
	<%= javascript_include_tag :all, :cache => true %>
</head>
<body id="body" onkeypress="keyPressHandler(event)" onkeydown="keyDownHandler(event)" onkeyup="keyUpHandler(event)">
	<div id="topbar">
		<span id="logo">
		<a href="/">Think Link</a>
		</span>
		<span id="topright">
<!--			<span id="search">
				<form action="/main/search" method="get">
					<input type="text" name="query">
					<input type="submit" value="search">
				</form>
			</span> -->
			<span id="login">
		<% if @user %>
			<span id="username"><%= @user.email %></span> 
			<!-- | <%= link_to 'Sign out', :controller => 'main', :action => 'signout' %> -->
		<% else %>
		<%= link_to 'Sign in', :controller => 'main', :action => 'login' %>
		<% end %>
			</span>
		</span>
	</div>
		<div id="container">

	<div id="header">
	<% if @title %>
	<h1><%= @title %>
	
	<% if @editlink %>
			<a class="edit" href="<%= url_for(:action=>'edit') %>">(Edit <img src="/images/pencil.png" />)</a>
	<% end %>
	</h1>
	<% end %>
	</div>
	<div id="content">
	<%= yield -%>
	</div>
	<div id="sidebar"></div>
	</div>
</body>
</html>
