<h1>Edit snippet</h1>
<% form_tag(:action => 'update',:id => @snippet) do -%>
<p><label for="snippet_url">Url</label>:
<%= text_field 'snippet', 'url' %></p>
<p><label for="snippet_point">Point</label>:
<%= collection_select(:snippet,:point_id,@points,:id,:name) %></p>
<p><label for="point_text">Text</label><br/>
<%= text_area 'snippet', 'text' %></p>
<%= submit_tag "Update" %>
<% end -%>
<%= link_to 'Back', {:action => 'list'} %>
 
