<% if @options[:noauthor].nil? %>
	<% noauthor = false %>
<% else %>
	<% noauthor = @options[:noauthor] %>
<% end %>
<div class="snippets">
<%= render_partial 'main/itemlist', @snippets, :options => {:noauthor => noauthor}, :renderer => 'snippet' %>
</div>