<html>
<head>
<title>Bad Login - try again</title>
</head>
<h1>Bad Login - try again</h1>
<form method="post" action="login">
Email: <input name="email" type="text"/>
<br/>
Password: <input name="password" type="password"/>
<br/>
<input type="submit"/>
</form>
</html>