{% extends "base.html" %}
{% block title %}Dispute Finder Search{% endblock %}

{% block content %}



<div id="intellogo"> 
	<img src="/static/images/intel_black_transparent_100w.png"/> 
	<div id="labs">Labs</div> 
</div> 

<h1 id="frontlogo">Dispute Finder - Search<span class="beta">experiment</span></h1> 
<div class="tagline">Because the first result is not always the full truth</div> 
 
<form method="GET" action="/search"> 
<input type="text" id="search-input" name="q" value="" title="Search" autofocus="autofocus"/> 
<input type="submit" id="search-submit" value="Search" /> 
</form> 


<div class='also-extension'>
<a href="http://disputefinder.cs.berkeley.edu">Also try the Firefox Extension</a></li>
</div>


<div class="disclaimer">
<p>This is a research experiment, not a reliable supported project. This site may go down from time to time, 
or produce strange results. We hope you find it interesting, but we also hope you don't rely on it for anything important.
</p>
<p>If you find this interesting, and want to learn more, please contact <a href="mailto:robert.ennals@intel.com">Rob Ennals</a> for more information.</p>
</div>


{% endblock %}
