<html> 
	<head> 
		<title>{% block title %}Dispute Finder{% endblock %}</title>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"> 
		<meta content="en-us" http-equiv="Content-Language"> 
		<link media="screen" rel="stylesheet" href="/static/stylesheets/search.css"> 
		<link media="screen" rel="stylesheet" href="/static/stylesheets/urlcheck.css"> 
		<link rel="icon" type="image/png" href="/static/images/lightbulb_red.png"> 
		<link rel="search"
           type="application/opensearchdescription+xml" 
           href="static/opensearch.xml" title="Dispute Finder Search" />
        <script src="/static/javascript/jquery-1.4.2.min.js" type="text/javascript"></script>
   		<script type="text/javascript" src="/js/jquery-ui-1.8.1.custom.min.js"></script>
   		<link type="text/css" href="/css/smoothness/jquery-ui-1.8.1.custom.css" rel="stylesheet">
        {% block scripts %}{% endblock %}
    </head> 
	<body>
		{% block header %}{% endblock %}
		
		{% block content %}{% endblock %}
		
		{% block footer %}{% endblock %}
	</body>
</html>
