<div class="snippet">
<div class="snippet_point"><%= link_to snippet.point.txt, point_path(snippet.point) %></div>
<div class="snippet_text"><%= trim_string(snippet.txt) %></div>
<%= "<a class='snippet_url' href='#{snippet.url}'>#{trim_string(snippet.pagetitle,40)} - #{trim_url(snippet.url)}</a>" %>  
</div>
