<h1><%= @snippet.txt %></h1>
<strong>Point :</strong> <%= link_to @snippet.point.txt, point_path(@snippet.point) %><br />
<strong>Created By:</string> <%= link_to @snippet.user.email, user_path(@snippet.user) %><br />
<strong>Created Date:</strong> <%= @snippet.created_at %><br />
<strong>URL:</string> <%= "<a href='#{@snippet.url}'>#{@snippet.url}</a>" %>  
</p>
<hr />
<%= link_to 'Back', snippets_path %>
<b><%= link_to 'Edit', {:action => 'edit', :id => @snippet.id} %>