
<% parents = paritems.parents 
%>
	
	<% if !parents.empty? %>
		<% parents.each do |parent| %>
			<%= render_partial 'main/draglabel', parent, :label => "more general:" %>
		<% end %>
	<% end %>
