

<%
	rnd = rand(100000).to_s
	
	if !defined? options
		options = {}
	end
	
	%>

<div id='points-<%=rnd%>'>
</div>


<div class="point_container">
<% topics.each do |topic| %>
		<% if !options.nil? && !options[:expanded].nil? && topic.id==options[:expanded].id %>
			<%= render_partial 'topics/topic', topic, :expand => true, :scroll=>true,:options => options %>
		<% else %>
			<%= render_partial 'topics/topic', topic, :expand => false, :options => options %>
		<% end %>
<% end %>
</div>

