

<%
	rnd = rand(100000).to_s
	
	if !defined? options
		options = {}
	end
	
	%>

<div id='points-<%=rnd%>'>
</div>


<div class="point_container">
<% topics.each do |topic| %>
		<%= render_partial 'topics/topic', topic, :expand => false, :options => options %>
<% end %>
</div>

